@import 'variables';

.stack{
    //height: 100vh;
    overflow: hidden;
    //border: 1px solid gray;
    border-radius: 8px;

    &.fixed{
        position:fixed;
        margin-top:70px;
        width: 250px;
    }

   
   /*  @media  (max-width:1024px) {
        border: 2px solid yellow;
    }

    @media  (max-width:1024px) and (orientation: landscape){
        border: 2px solid red;
    } */

    /*
    @media (max-width: $screen-xs-max) { border:1px solid red; }
    @media (min-width: $screen-sm-min) { border:1px solid green; }
    @media (max-width: $screen-sm-max) { border:1px solid yellow; }
    @media (min-width: $screen-md-min) { border:1px solid cyan; }
    @media (max-width: $screen-md-max) { border:1px solid blue; }
    @media (min-width: $screen-lg-min) { border:1px solid orange; }
    */



}

#stack-img{
    margin-top:40px;

    @media (max-width: $screen-md-max) {
        margin-top:20px!important;
    }

    background:url('../images/backside.png') center no-repeat;
    background-size: contain;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: opacity(80%); /* Safari 6.0 - 9.0 */
    filter: opacity(80%);

    max-width: 212px;
    max-height:370px;
/* 
    @media  (max-width:1024px) and (orientation: landscape){
        width: 100px;
        height: 100%;
    } */


    &:hover{
        cursor: pointer;
        -webkit-filter: opacity(100%); /* Safari 6.0 - 9.0 */
        filter: opacity(100%);
    }
}

.btn-keep{
    margin-top:20px;

    button{
        display:block;
        margin: 0 auto;
        color:#FFF;
        padding: 10px 16px 10px 16px;
        background-color: #26B1B6;
        border: none;        
        border-radius:35px;
        font-size: 15px;
        font-weight: 400;
        font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

        &:hover{
            cursor: pointer;
            background-color: #1d888c;
        }
    }
}


.btn-clear-selected{
    margin-top:20px;

    button{
        display:block;
        margin: 0 auto;
        color:#FFF;
        padding: 15px 20px 15px 20px;
        background-color: transparent;
        border: 3px solid #FFF;        
        border-radius:100%;
        font-size: 15px;
        font-weight: bold;
        font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

        &:hover{
            cursor: pointer;
            background-color: #1d888c;
        }
    }
}