$height-scale-1: 520px;
$width-scale-1: 320px;

$height-scale-2: 430px;
$width-scale-2: 250px;

$height-scale-3: 350px;
$width-scale-3: 200px;

$height-scale-4: 280px;
$width-scale-4: 165px;

$height-scale-5: 236px;
$width-scale-5: 140px;

$height-scale-6: 209px;
$width-scale-6: 120px;

$height-scale-7: 200px;
$width-scale-7: 110px;

$height-scale-8: 170px;
$width-scale-8: 100px;

$height-scale-9: 160px;
$width-scale-9: 95px;

$height-scale-10: 150px;
$width-scale-10: 85px;

$height-scale-11: 145px;
$width-scale-11: 80px;

$height-scale-12: 125px;
$width-scale-12: 75px;

$height-scale-13: 110px;
$width-scale-13: 65px;

$height-scale-14: 105px;
$width-scale-14: 60px;

$height-scale-15: 105px;
$width-scale-15: 60px;


/* $height-scale-: px;
$width-scale-: px;

$height-scale-: px;
$width-scale-: px;

$height-scale-: px;
$width-scale-: px;

$height-scale-: px;
$width-scale-: px;

$height-scale-: px;
$width-scale-: px;
 */



$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1366px;
$screen-md-max: ($screen-lg-min - 1);